@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;700&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    --body-color: white;
    --background-color: white;
    --text-color: black;
    --text-color-bg: white;
    --sidebar-background: #9F91CC;
    --focus-color: #5C4B99;
    --bar-background: rgba(159, 145, 204, 0.4);
    --main-container-background: rgba(49, 49, 49, 0.07);
    --box-shadow: 0 4px 8px -2px gray;


    font-family: 'REM', sans-serif;
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr 6fr;
    transition-duration: 0.3s;
}

body.dark {
    --body-color: #2A282A;
    --text-color: white;
    --background-color: #454545;
    --box-shadow: #454545;
    --sidebar-background: #6B59A7;
    --focus-color: #9073EC;
    --bar-background: rgba(144, 115, 236, 0.5);
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar {
    display: grid;
    background-color: var(--sidebar-background);
    grid-template-rows: 1fr 4fr 6fr;
    grid-row: 1 / -1;
    padding: 1em;
    gap: 3em;
    font-size: 1.4rem;
    color: var(--text-color-bg);
    z-index: 1;
    box-shadow: var(--box-shadow);
}

.sidebar-item {
    margin-bottom: .7em;
    transition-duration: 0.3s;
}

.sidebar-item:hover {
    margin-left: 1em;
}

.container {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

.logo {
    font-size: 2.5rem;

}

.bi-layout-wtf {
    margin-right: .3em;
}

.navbar {
    box-shadow: 0 4px 20px -2px var(--box-shadow);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    padding: 1em 3em;
    align-items: center;
    background-color: var(--background-color);
}

input {
    border-radius: .8em;
    border: none;
    width: 90%;
    height: 1.5em;
    padding: .6em;
    background-color: var(--bar-background);
    margin-left: .5em;
    color: var(--text-color);
}

.right-container {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    font-size: 1.3rem;
    gap: 2em;
    justify-self: end;
}

.top-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2em;
    font-size: 1.3rem;
}

.top-button {
    background-color: var(--sidebar-background);
    border: none;
    font-weight: bold;
    border-radius: 1em;
    padding: 1em 1.5em;
    transition-duration: 0.3s;
    color: var(--text-color);
}

.top-button:hover {
    cursor: pointer;
    background-color: var(--focus-color);
    color: var(--text-color-bg);
}

.user-welcome {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-auto-rows: 1fr 1fr;
    gap: 0 1em;
    font-size: .9rem;
    align-items: end;
}

.user-welcome>.bi {
    grid-row: 1 / 3;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
}

.username {
    font-size: .7rem;
    font-weight: bold;
    grid-row: 1 / 3;
    align-self: center;
}

.username>* {
    margin: 0;
}

.username p {
    font-size: .9rem;
    font-weight: 200;
}

.main-container {
    display: grid;
    background-color: var(--main-container-background);
    grid-template-columns: 3fr 1fr;
    padding: 2em;
}

.section-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    grid-column: 1 / -1;
    padding-bottom: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr repeat(3, 1fr);
    align-items: center;
}

.card {
    display: grid;
    grid-template-columns: 0.02fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    background-color: var(--background-color);
    border-radius: 1rem;
    box-shadow: 0 4px 10px -2px var(--box-shadow);
    width: 90%;
    height: 90%;
}

.card:nth-child(2) {
    align-self: start;
}

.card:nth-child(3) {
    align-self: start;
}

.card:nth-child(6) {
    align-self: end;
}

.card:nth-child(7) {
    align-self: end;
}


.card-color {
    background-color: var(--sidebar-background);
    border-radius: 1rem 0 0 1rem;
    transition-duration: 0.3s;
    grid-row: 1 / -1;
}

.card:hover .card-color {
    background-color: var(--focus-color);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0;
}

.card-text {
    font-size: 0.8rem;
    padding: 0rem 1rem;
    margin: 0;
}

.card-icons {
    align-self: center;
    justify-self: end;
    padding: 0 2rem;
}

.card-icons>* {
    padding: 0 0.5rem;
    font-size: 1.3rem;
}

.card-icons>*:hover {
    cursor: pointer;
}

.panel-container {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
}

.announce-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--background-color);
    height: 80%;
    border-radius: 1rem;
    box-shadow: 0 4px 10px -2px var(--box-shadow);
}

.trending-container {
    background-color: var(--background-color);
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 4px 10px -2px var(--box-shadow);
    align-self: end;
    display: grid;
}

.announce-container {
    padding: 1rem;
}

.announce-title {
    padding: 0.5rem 0;
    margin: 0;
    font-size: 0.9rem;
    font-weight: bold;
}

.announce-text {
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
}

.user {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.user .bi {
    font-size: 3rem;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
}

.trending-username {
    font-weight: bold;
    align-self: end;
}

.line {
    background-color: black;
}